* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Poppins";
}


.pdfCompressor {
  width: 120rem;
  margin: 10rem auto;
}
#dropFileForm {
  margin: 16px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.5s;
}

#dropFileForm #fileLabel {
  height: 20rem;
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  align-items: center;
  justify-content: center;
  /* background-color: rgba(0, 255, , 0.5); */
  border: 2px dotted #00000030;
  /* display: block; */
  padding: 16px;
  position: relative;
  cursor: pointer;
}
 #dropFileForm:hover #fileLabel {
  border: 2px dotted #00000050 !important;
  /* box-shadow: 0 0 16px #00000030; */
}
#dropFileForm:hover #fileLabelText{
  color: #000;
}
/* #dropFileForm #fileInput {
  display: none;
} */

#dropFileForm #fileLabel:after,
#dropFileForm #fileLabel:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: -2;
  border-radius: 8px 8px 0 0;
}

#dropFileForm #fileLabel:before {
  z-index: -1;
  /* background: repeating-linear-gradient( */
  /* 45deg,
    transparent,
    transparent 5%,
    black 5%,
    black 10%
  ); */
  background-color: #00000030;
  /* border: solid; */
  opacity: 0;
  transition: 0.5s;
}

#dropFileForm.fileHover #fileLabel:before {
  opacity: 0.25;
}
#dropFileForm.fileHover #fileLabel {
  border: 2px solid #00000090;
  opacity: 0.25;
}

#dropFileForm .uploadButton {
  border: 0;
  outline: 0;
  width: 100%;
  padding: 8px;
  background-color: limeGreen;
  color: #fff;
  cursor: pointer;
}


#fileLabelText {
  font-size: 1.4rem;
  font-weight: 200;
  color: #00000090;
  /* height: 100%; */
  /* margin: auto 0; */
  /* position: absolute; */
  /* top: 45%; */
  /* left: 40%; */
  text-align: center;
}

.convert {
  position: absolute;
  display: flex;
  gap: 3rem;
  align-items: center;
  font-size: 1.5rem;
  bottom: 3rem;
}
.spinner {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.2rem solid lightgray;
  border-top-color: gray;
  animation: Rotate 1.2s linear 0s infinite forwards;
}

.convert p {
  color: #777;
  font-size: 2rem;
}
.op {
  opacity: 0;
}

.uploadButton {
  font-size: 2rem;
  cursor: pointer;
  letter-spacing: 0.2rem;
  z-index: 99;
}
.uploadButton:hover {
  color: #fff;
  background-color: rgb(35, 143, 35) !important;
  transition: all 0.1s ease-in-out;
}

@keyframes Rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.input {
  position: absolute;
  border: 1px solid #92b0b3;
  background: #f1f1f1;
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  /* padding: 100px 0px 100px 250px; */
  padding: 10rem;
  display: flex;
  z-index: 999999999999;
  opacity: 0;
  cursor: pointer;
  /* align-items: center;
  justify-content: center; */
  text-align: center !important;
  width: 117rem;
}
.zi {
  z-index: -1 !important;
}
/*=============
Adding tick marks
=========================*/
.range-slider {
  flex: 1;
}

.sliderticks {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.sliderticks span {
  display: flex;
  justify-content: center;
  width: 1px;
  height: 10px;
  background: #666;
  z-index: 3;
  font-size: 16px;
  line-height: 40px;
}

/*=============
End tick marks
=========================*/


input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  /*  overflow: hidden;  remove this line*/
  
  /* New additions */
  height: 6px;
  background: #ccc;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  height: 15px;
  width: 15px;
  background-color: #000;
  border-radius: 50%;
  border: none;

  /* box-shadow: -407px 0 0 400px #f50; emove this line */
  transition: .2s ease-in-out;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #000;
  border-radius: 50%;
  border: none;
  
  /* box-shadow: -407px 0 0 400px #f50; emove this line */
  transition: .2s ease-in-out;
}

/* Hover, active & focus Thumb: Webkit */

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(0,0,0, .1)
}
input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(0,0,0, .2)
}
input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(0,0,0, .2)
}

/* Hover, active & focus Thumb: Firfox */

input[type="range"]::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(0,0,0, .1)
}
input[type="range"]:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(0,0,0, .2)
}
input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(0,0,0, .2)    
}

/*=============
Aesthetics 
=========================*/

.wrapper {
  color: #4b4949; 
  background: #000;
  max-width: 1000px;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.range {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  height: 8rem;
  width: 80%;
  background: #fff;
  padding: 0px 10px;
}

.value {
  font-size: 23px;    
  width: 50px;
  text-align: center;
}

input{
  z-index: 9 !important;
}
nav{
  width: 100vw;
  padding: 15px 100px;
}
h1{
  font-size: 25px;
  color: #4b4949;
  font-weight: 400;
  padding-bottom: 15px;
  border-bottom: 1px solid #00000030;
  width: 100%;
}